* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-dark: #223177;
  --color-botton:#2d419f ;
  --color-btn-light: #6970dd;
  --color-body: #5b8abd;
  --box-shadow: 0 15px 25px #2b2b2b;
  --transition: all 0.5s ease;
}

@font-face {
  font-family: iransans;
  src: url(../font/iransans.woff2);
  src: url(../font/IRANSansWebFaNum.eot);
  src: url(../font/IRANSansWebFaNum.ttf);
  src: url(../font/IRANSansWebFaNum.woff);
}
@font-face {
  font-family: car-font;
  src: url(../../../assets/font/car-font/BebasNeue-Regular.ttf);
}
section.prodouct {
  margin-top: 30px;
  margin-bottom: 30px;
}
section.prodouct div.prodouct-item {
  width: 100%;
  margin: 20px 0;
}
section.prodouct div.prodouct-item div.image-car img {
  width: 100%;
  border-radius: 10px;
}
section.prodouct div.prodouct-item div.informaition-car {
  border: 2px solid gray;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}
section.prodouct div.prodouct-item div.informaition-car div.name-car div.name {
  display: flex;
  font-family: car-font;
  font-size: 24px;
}
section.prodouct div.prodouct-item div.informaition-car div.name-car div.left {
  display: flex;
  background-color: var(--color-botton);
  color: white;
  font-size: 12px;
  padding: 0 10px;
  justify-content: center;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-radius: 8px;
}
section.prodouct div.prodouct-item div.informaition-car div.name-car div.left i {
  line-height: 30px;
  padding-left: 5px;
}
section.prodouct div.prodouct-item div.informaition-car div.about {
  display: flex;
  padding-top: 15px;
}
section.prodouct div.prodouct-item div.informaition-car div.about div.items {
  display: flex;
}
section.prodouct div.prodouct-item div.informaition-car div.about div.items div.item {
  padding-left: 15px;
}
section.prodouct div.prodouct-item div.informaition-car div.about div.icons i {
  padding: 0 10px;
  font-size: 20px;
  color: #0c0b0b;
}
section.prodouct div.prodouct-item div.informaition-car div.lineer {
  width: 100%;
  height: 2px;
  background-color: #4d4a4a;
  margin: 5px auto;
}
section.prodouct div.prodouct-item div.informaition-car div.security {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}
section.prodouct div.prodouct-item div.informaition-car div.security span {
  padding-right: 10px;
}
section.prodouct div.prodouct-item div.informaition-car div.gheimat {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}
section.prodouct div.prodouct-item div.informaition-car div.gheimat span.gheimat {
  font-family: car-font;
  font-size: 18px;
}
section.prodouct div.prodouct-item div.informaition-car div.installments {
  background-color: var(--color-body);
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
}
section.prodouct div.prodouct-item div.informaition-car div.installments div.installments-title div.image img {
  width: 30px;
}
section.prodouct div.prodouct-item div.informaition-car div.installments div.installments-title div.title h5.title {
  padding-right: 20px;
  padding-top: 5px;
}
section.prodouct div.prodouct-item div.informaition-car div.installments div.installments-title div.paragraf p.paragraf {
  padding: 20px;
}
section.prodouct div.prodouct-item div.informaition-car div.button {
  padding-top: 20px;
}
section.prodouct div.prodouct-item div.informaition-car div.button button.cash {
  padding: 5px 10px;
  width: 150px;
  height: 40px;
  background-color: var(--color-botton);
  border: none;
  border-radius: 8px;
  color: white;
}
section.prodouct div.prodouct-item div.informaition-car div.button button.cash:hover {
  color: white;
  font-style: normal;
  font-weight: 300;
  box-shadow: var(--box-shadow);
}
section.prodouct div.prodouct-item div.informaition-car div.button button.installments {
  padding: 5px 10px;
  width: 150px;
  height: 40px;
  border: 2px solid var(--color-botton);
  color: var(--color-botton);
  font-weight: 600;
  border-radius: 8px;
}
section.prodouct div.prodouct-item div.informaition-car div.button button.installments:hover {
  background-color: #5b8abd;
  color: white;
  font-style: normal;
  font-weight: 300;
  box-shadow: var(--box-shadow);
}/*# sourceMappingURL=prodouct.css.map */