@font-face {
    font-family:iransans ;
    src: url(../font/iransans.woff2);
    src: url(../font/IRANSansWebFaNum.eot);
    src: url(../font/IRANSansWebFaNum.ttf);
    src: url(../font/IRANSansWebFaNum.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: iransans ;
}


figure.head {
    width: 100%;
    height: inherit;
    background-color: #444f55;
    margin-top: 45px;
    padding-top: 45px;
}

figure.head>blockquote.head>p.head {
    text-decoration: whitesmoke;
    display: block;
    text-align: center;
    color: aliceblue;
}


